@font-face {
  src: url("../../src/tatai/fonts/Roboto-Thin.ttf");
}
@font-face {
  src: url("../../src/tatai/fonts/Roboto-Regular.ttf");
}
@font-face {
  src: url("../../src/tatai/fonts/Roboto-Bold.ttf");
}