.root {
	-fx-background-color: #37474F;
}

.content {
	-fx-background-color: #fafafa;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0.4, 0, 7);
}

.button {
	-fx-background-color: #2196F3;
	-fx-text-fill: #fafafa;
	-fx-border-radius: 5px;
	-fx-cursor: hand;
	-fx-font-size:24px;
  	-fx-padding: 8px 8px 6px 8px;
  	-fx-border-style: none none solid none;
  	-fx-border-width: 0 0 4px 0;
  	-fx-border-color: #1E88E5;
}

.button:hover, .depressedbutton {
	-fx-background-color: #1565C0;
	-fx-border-color: #1565C0;
}

.greenbutton {
	-fx-background-color: #4CAF50;
	-fx-border-color: #43A047;
}

.greenbutton:hover, .depressedgreenbutton {
	-fx-background-color: #2E7D32;
	-fx-border-color: #2E7D32;
}

.darkbutton {
	-fx-background-color: #607D8B;
	-fx-border-color: #546E7A;
}

.darkbutton:hover, .depresseddarkbutton {
	-fx-background-color: #455A64;
	-fx-border-color: #455A64;
}

.orangebutton {
	-fx-background-color: #FF9800;
	-fx-border-color: #FB8C00;
}

.orangebutton:hover, .depressedorangebutton {
	-fx-background-color: #F57C00;
	-fx-border-color: #F57C00;
}

* {
	-fx-font-size: 18px;
	-fx-font-family: "Roboto";
}

#number {
	-fx-font-size:72px;
}

.announce{
	-fx-font-size:56px;
	-fx-font-family: "Roboto Thin";
}

#numberCorrect{
	-fx-font-family: "Roboto";
}

.heading{
	-fx-font-size:42px;
	-fx-font-family: "Roboto Thin";
}

.heading2{
	-fx-font-size:28px;
	-fx-font-family: "Roboto Thin";
}

#progressBar {
	-fx-accent: #2196F3;
}

#playButton{
	-fx-background-image:url('images/play.png');
}

#redoButton, #replayButton {
	-fx-background-image:url('images/redo.png');
}

#nextButton, #level1Button, #level2Button, #practiceButton, #assessButton {
	-fx-background-image:url('images/next.png');
}

#nextLevelButton {
	-fx-background-image:url('images/up.png');
}

#returnButton {
	-fx-background-image:url('images/menu.png');
}

#quitButton {
	-fx-background-image:url('images/exit.png');
}

#statisticsButton {
	-fx-background-image:url('images/stats.png');
}

#recordButton {
	-fx-background-image:url('images/record.png');
}

#settingsButton {
	-fx-background-image:url('images/settings.png');
}

#playButton, #redoButton, #replayButton, #nextButton, #nextLevelButton, #quitButton, #returnButton, #level1Button, #level2Button, #statisticsButton, #recordButton, #practiceButton, #assessButton, #settingsButton {
	-fx-background-position:right 8px center;
	-fx-background-size:18px 18px;
  	-fx-padding: 8px 32px 6px 8px;
  	-fx-background-repeat:no-repeat;
}

#chooseLevel1Button, #chooseLevel2Button {
	-fx-padding: 8px 6px 6px 8px;
}

#redoButton, #replayButton {
	-fx-background-size:15px 18px;
}